{% block block_zeobv_product_banner %}
	<div class="col-12 p-0">
		{% block block_zeobv_product_banner_inner %}
			<div class="row align-items-end">
				<div class="col-12 col-md-6 col-lg-4">
					{% block block_zeobv_product_banner_inner_left %}
						{% block block_zeobv_product_banner_inner_left_banner %}
							{% set element = block.slots.getSlot('banner') %}
							{% if element %}
								<div data-cms-element-id="{{ element.id }}">
									{% block block_zeobv_product_banner_inner_left_banner_inner %}
										{% sw_include "@Storefront/storefront/element/cms-element-image.html.twig" %}
									{% endblock %}
								</div>
							{% endif %}
						{% endblock %}

						{% block block_zeobv_product_banner_inner_left_cta %}
							{% set element = block.slots.getSlot('ctaLink') %}
							{% if element %}
								<div class="cta-link" data-cms-element-id="{{ element.id }}">
									{% block block_zeobv_product_banner_inner_left_cta_inner %}
										<span class="info-prefix">{{ 'zeobv.cms-elements.banner.infoPrefix'|trans }}&nbsp;
										</span>
										{% sw_include "@ZeobvCmsElements/storefront/element/cms-element-product-banner-cta.html.twig" %}
									{% endblock %}
								</div>
							{% endif %}
						{% endblock %}
					{% endblock %}
				</div>

				<div class="col-12 col-md-6 col-lg-8">
					{% block block_zeobv_product_banner_inner_right %}
						{% block block_zeobv_product_banner_inner_right_title %}
							{% set element = block.slots.getSlot('title') %}
							{% if element %}
								<div class="banner-title" data-cms-element-id="{{ element.id }}">
									{% block block_zeobv_product_banner_inner_right_title_inner %}
										{% sw_include "@Storefront/storefront/element/cms-element-text.html.twig" %}
									{% endblock %}
								</div>
							{% endif %}
						{% endblock %}

						{% block block_zeobv_product_banner_inner_right_entries %}
							<div class="row">
								{% for element in [block.slots.getSlot('entryOne'), block.slots.getSlot('entryTwo'), block.slots.getSlot('entryThree')] %}
									{% if element.data.product or element.data.category %}
										<div class="col-4 card-col" data-cms-element-id="{{ element.id }}">
											{% block block_zeobv_product_banner_inner_right_entries_entry %}
												{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
											{% endblock %}
										</div>
									{% endif %}
								{% endfor %}
							</div>
						{% endblock %}

						{% block block_zeobv_product_banner_inner_right_cta %}
							{% set element = block.slots.getSlot('ctaButton') %}
							{% if element %}
								<div class="banner-link" data-cms-element-id="{{ element.id }}">
									{% block block_zeobv_product_banner_inner_right_cta_inner %}
										{% sw_include "@ZeobvCmsElements/storefront/element/cms-element-product-banner-cta.html.twig" %}
									{% endblock %}
								</div>
							{% endif %}
						{% endblock %}
					{% endblock %}
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}
