{% block block_text_image_icon %}
    <div class="col-12 row image-text-icon">
        <div class="col-8 image-icon">
            {% block block_text_left %}
                {% set element = block.slots.getSlot('left') %}
                    <div class="col-2" data-cms-element-id="{{ element.id }}">
                        {% block block_text_inner_left %}
                            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                        {% endblock %}
                    </div>
            {% endblock %}

            {% block block_text_center %}
                {% set element = block.slots.getSlot('center') %}
                <div class="col-10" data-cms-element-id="{{ element.id }}">
                    {% block block_text_inner_center %}
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12 backgound-color">
                    <div class="row bg-img-text">

                        {% block block_text_right %}
                            {% set element = block.slots.getSlot('right') %}
                            <div class="bg-text-content" data-cms-element-id="{{ element.id }}">
                                {% block block_text_inner_right %}
                                    {% block block_text_inner_right_chatIcon %}
                                        <img src="{{ element.config.mediaUrl.value }}">

                                        <label class="icon-content call-icon">{{ element.config.callIcon.value }}</label>
                                    {% endblock %}
                                    {% block block_text_inner_right_callIcon %}
                                        <img src="{{ element.config.mediaCallUrl.value }}">
                                        <label class="icon-content">{{ element.config.chatIcon.value }}</label>
                                    {% endblock %}

                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
