{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{% block buy_widget_tax %}
    {{ parent() }}
    <div class="row">
        <div class="col-8">
            {% if product.availableStock != 0 %}
                {% set min = product.deliveryTime.min %}
                {% set max = product.deliveryTime.max %}

                {% if (min === 0) and (max === 0)  %}
                    <div>
                        <div class="deliveryMsg" style="color:#FF0000; margin-top: 20px" >
                            <p>{{ "zeobv.delivery.deliveryMsg"|trans  }}</p>
                        </div>
                    </div>
                {% elseif (min === 1) and (max === 1) %}
                    <div class='row'>
                        <div class="col-1">
                            <svg width="28" height="19" viewBox="0 0 28 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7913 4.78926L27.2571 9.40352C27.3976 9.54873 27.4762 9.74283 27.4762 9.94492V15.3593C27.4762 15.7892 27.1277 16.1377 26.6977 16.1377H25.5351C25.3868 16.6268 25.1201 17.0873 24.7342 17.4732C24.1268 18.0806 23.3194 18.415 22.4605 18.415C21.6016 18.415 20.7942 18.0806 20.1868 17.4732C19.8009 17.0873 19.5343 16.6268 19.3859 16.1377H11.9517C11.8034 16.6268 11.5367 17.0873 11.1508 17.4732C10.5435 18.0806 9.73601 18.415 8.87714 18.415C8.01827 18.415 7.21078 18.0806 6.60347 17.4732C6.22211 17.0919 5.94845 16.6315 5.79753 16.1292H4.14046C3.71053 16.1292 3.36198 15.7806 3.36198 15.3507V8.20129H1.68259C1.25266 8.20129 0.904114 7.85274 0.904114 7.42281C0.904114 6.99288 1.25266 6.64433 1.68259 6.64433H3.36198V5.08664H2.77272C2.3428 5.08664 1.99424 4.73809 1.99424 4.30816C1.99424 3.87823 2.3428 3.52968 2.77272 3.52968H3.36198V1.19352C3.36198 0.76359 3.71053 0.415039 4.14046 0.415039H18.5997C19.0296 0.415039 19.3782 0.76359 19.3782 1.19352V4.55219H22.2319C22.4428 4.55219 22.6447 4.63772 22.7913 4.78926ZM19.3563 9.16644H24.8609L21.902 6.10915H19.3563V9.16644ZM4.91894 8.20123H8.97082C9.40075 8.20123 9.7493 7.85268 9.7493 7.42276C9.7493 6.99283 9.40075 6.64428 8.97082 6.64428H4.91894V5.08659H9.54186C9.97179 5.08659 10.3203 4.73804 10.3203 4.30811C10.3203 3.87818 9.97179 3.52963 9.54186 3.52963H4.91894V1.97195H9.54186H17.8211L17.7993 14.5807H12.0314C11.9133 13.9739 11.6198 13.3947 11.1508 12.9257C10.5435 12.3183 9.73601 11.9839 8.87714 11.9839C8.01827 11.9839 7.21083 12.3183 6.60347 12.9257C6.14676 13.3824 5.84445 13.9523 5.72254 14.5721H4.91894V8.20123ZM8.87714 16.8581C9.3201 16.8581 9.73664 16.6856 10.0499 16.3723C10.6966 15.7256 10.6966 14.6734 10.0499 14.0266C9.73664 13.7134 9.3201 13.5409 8.87714 13.5409C8.43419 13.5409 8.01765 13.7134 7.70439 14.0266C7.39113 14.3399 7.21862 14.7564 7.21862 15.1995C7.21862 15.6425 7.39113 16.059 7.70439 16.3723C8.01765 16.6856 8.43419 16.8581 8.87714 16.8581ZM23.6332 16.3723C23.3199 16.6856 22.9034 16.8581 22.4604 16.8581C22.0175 16.8581 21.6009 16.6856 21.2877 16.3723C20.641 15.7256 20.641 14.6734 21.2877 14.0267C21.6009 13.7134 22.0175 13.5409 22.4604 13.5409C22.9034 13.5409 23.3199 13.7134 23.6332 14.0267C23.9464 14.34 24.1189 14.7565 24.1189 15.1996C24.1189 15.6425 23.9464 16.0591 23.6332 16.3723ZM24.7341 12.9257C25.2032 13.3948 25.4966 13.9739 25.6147 14.5807H25.9193V10.7234H19.3563V14.3668C19.497 13.8386 19.7732 13.3393 20.1867 12.9257C20.7941 12.3184 21.6015 11.9839 22.4604 11.9839C23.3193 11.9839 24.1268 12.3184 24.7341 12.9257Z" fill="green"/>
                            </svg>
                        </div>
                        <div class="col-6">
                            <p style=color:green;">{{ "zeobv.delivery.onedayMsg"|trans }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="product-delivery-else" style="color:#FFA500; margin-top: 20px" >
                        <p>{{ product.deliveryTime.name }}</p>
                    </div>
                {% endif %}
            {% endif %}

            {% if product.availableStock == 0 %}
                {% block page_product_detail_buy_form_get_notified %}
                    <div class="mb-2">
                        <span class="icon icon-timer" style="color: #ff8c00 !important;">
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M16.5219 2.7613V4.09458C19.8185 5.2252 22.2204 8.08497 22.7646 11.5273C23.3089 14.9696 21.9063 18.4309 19.1193 20.5233C16.3322 22.6157 12.6171 22.9967 9.46335 21.5135C9.06918 21.3338 8.89537 20.8685 9.07512 20.4744C9.25488 20.0802 9.72014 19.9064 10.1143 20.0861C13.9157 21.8316 18.4179 20.2866 20.3465 16.5748C22.2751 12.863 20.9513 8.29084 17.3378 6.1837C13.7243 4.07656 9.09313 5.17611 6.81247 8.68265C6.65836 8.91801 6.39039 9.05328 6.1095 9.0375C5.82861 9.02172 5.57748 8.85729 5.4507 8.60615C5.32392 8.355 5.34076 8.0553 5.49487 7.81993C6.6269 6.0898 8.29718 4.78059 10.2476 4.09458V2.7613C10.2476 1.46186 11.301 0.408447 12.6005 0.408447H14.1691C15.4685 0.408447 16.5219 1.46186 16.5219 2.7613ZM11.8162 2.7613V3.6946C12.334 3.60153 12.8587 3.55169 13.3848 3.54558C13.9106 3.54873 14.4353 3.59596 14.9533 3.68676V2.7613C14.9533 2.32815 14.6022 1.97702 14.1691 1.97702H12.6005C12.1673 1.97702 11.8162 2.32815 11.8162 2.7613Z"
                                      fill="black"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M16.8202 9.20813C17.1586 8.94119 17.6489 8.99723 17.9182 9.33361C18.1747 9.6693 18.1193 10.1478 17.7928 10.4159L15.5968 12.1727C15.6891 12.4239 15.7369 12.6893 15.7379 12.957C15.7379 14.2564 14.6845 15.3099 13.3851 15.3099C12.0856 15.3099 11.0322 14.2564 11.0322 12.957C11.0322 11.6576 12.0856 10.6042 13.3851 10.6042C13.8217 10.6033 14.2493 10.7286 14.6164 10.9649L16.8202 9.20813ZM12.6008 12.957C12.6008 13.3902 12.9519 13.7413 13.3851 13.7413C13.8182 13.7413 14.1694 13.3902 14.1694 12.957C14.1694 12.5239 13.8182 12.1727 13.3851 12.1727C12.9519 12.1727 12.6008 12.5239 12.6008 12.957Z"
                                      fill="black"/>
                                <path
                                        d="M7.89477 10.6041H3.18907C2.75592 10.6041 2.40479 10.9553 2.40479 11.3884C2.40479 11.8216 2.75592 12.1727 3.18907 12.1727H7.89477C8.32792 12.1727 8.67906 11.8216 8.67906 11.3884C8.67906 10.9553 8.32792 10.6041 7.89477 10.6041Z"
                                        fill="black"/>
                                <path
                                        d="M7.89498 13.7413H1.62071C1.18756 13.7413 0.836426 14.0924 0.836426 14.5256C0.836426 14.9587 1.18756 15.3098 1.62071 15.3098H7.89498C8.32813 15.3098 8.67927 14.9587 8.67927 14.5256C8.67927 14.0924 8.32813 13.7413 7.89498 13.7413Z"
                                        fill="black"/>
                                <path
                                        d="M7.89477 16.8784H3.18907C2.75592 16.8784 2.40479 17.2296 2.40479 17.6627C2.40479 18.0959 2.75592 18.447 3.18907 18.447H7.89477C8.32792 18.447 8.67906 18.0959 8.67906 17.6627C8.67906 17.2296 8.32792 16.8784 7.89477 16.8784Z"
                                        fill="black"/>
                            </svg>
                        </span>
                        <b style="color: #ff8c00">{{ "zeobv.outOfStock.notifyMsg"|trans }}</b>
                    </div>
                    <div>
                        <b>{{ "zeobv.outOfStock.infoMsg"|trans }}</b>
                        <p>{{ "zeobv.outOfStock.descriptionMsg"|trans }}</p>
                    </div>
                    {% if not page.product.extensions.zeobvGetNotifiedConfig.replaceAddToCart %}
                        <hr>
                    {% endif %}
                {% endblock %}
            {% endif %}

        </div>
        <div class="col-4">
            {% block page_product_detail_manufacturersd %}
                {% if page.product.manufacturer %}
                    <div class="product-detail-manufacturer">
                        {% block page_product_detail_manufacturer_innersd %}
                            {% block page_product_detail_manufacturer_linksd %}
                                <a href="{{ page.product.manufacturer.link }}"
                                   class="product-detail-manufacturer-link"
                                   rel="noreferrer noopener"
                                   target="_blank"
                                   title="{{ page.product.manufacturer.translated.name }}">
                                    {% if page.product.manufacturer.media %}
                                        {% block page_product_detail_manufacturer_logosd %}
                                            <img src="{{ page.product.manufacturer.media|sw_encode_media_url }}"
                                                 class="product-detail-manufacturer-logo"
                                                 alt="{{ page.product.manufacturer.translated.name }}"/>
                                        {% endblock %}
                                    {% else %}
                                        {% block page_product_detail_manufacturer_textsd %}
                                            {{ page.product.manufacturer.translated.name }}
                                        {% endblock %}
                                    {% endif %}
                                </a>
                            {% endblock %}
                        {% endblock %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>


{% endblock %}
