{% sw_extends '@Storefront/storefront/component/review/review-item.html.twig' %}

{% block component_review_item %}
	{% set reviewVerifcation = 0 %}

	<div class="product-detail-review-item" itemprop="review" itemscope itemtype="https://schema.org/Review">
		{% block component_review_item_meta_published %}
			<meta itemprop="datePublished" content="{{ review.createdAt|date }}">
		{% endblock %}

		{% block component_review_item_meta_title %}
			<meta itemprop="name" content="{{ review.title }}">
		{% endblock %}


		{% block component_review_item_meta_author %}
			<meta itemprop="author" content="hidden">
		{% endblock %}

		{% block component_review_item_info %}
			<div class="row product-detail-review-item-info">


				{% block component_review_item_externalUser %}
					<div class="col-md-auto pr-0 product-detail-review-item-author d-flex">
						<p>{{review.externalUser}}
						<div class="d-none d-md-inline-flex px-1">
							|
						</div>
						</p>
					</div>
				{% endblock %}


				{% block component_review_item_info_date %}

					<div class="px-md-0 mr-md-auto col-md-auto product-detail-review-item-date">
						<p>
							{{ review.createdAt|date("d M Y") }}
						</p>
					</div>

					{% block component_review_item_info_points %}
						<div class="col-md-auto product-detail-review-item-points">
							{% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
								points: review.points
							} %}
						</div>
					{% endblock %}
				{% endblock %}

				{% block review %}

				{% endblock %}


				{% block component_review_item_info_verify %}
					<div class="col product-detail-review-item-verify">
						{% if reviewVerifcation == 1 %}
							<a data-toggle="tooltip" data-placement="bottom" title="{{ "detail.reviewVerifiedItemTooltip"|trans|striptags }}">
								{% sw_icon 'checkmark-circle' style {
									'color': 'primary',
									'size': 'sm'
								} %}
							</a>
						{% endif %}
					</div>
				{% endblock %}
			</div>
		{% endblock %}

		{% block component_review_item_content %}
			<div class="review">
				<p class="sliceContent-{{ review.id }}">{{ review.content|length > 80 ? review.content|slice(0, 50) ~ '': review.content  }}</p>
				<p class="product-detail-review-item-content fullContent-{{ review.id }}" style="display: none"  itemprop="description"> {{ review.content }}
				</p>
				<a href="javascript:void(0);" data-uuid="{{ review.id }}"  onclick="readMore(this)">{{ "zeobvSchouwWitgoed.readMore"|trans }}</a>
			</div>
		{% endblock %}

		{% block component_review_item_comment %}
			{% if review.comment %}
				<div class="product-detail-review-item-comment">
					<blockquote class="blockquote">
						<footer class="blockquote-footer"> {{ "detail.reviewCommentLabel"|trans|sw_sanitize }}{{ review.comment }}
						</footer>
					</blockquote>
				</div>
			{% endif %}
		{% endblock %}
	</div>

	<script>
		function readMore(obj) {
			let x =   obj.getAttribute('data-uuid');
			console.log('.sliceContent-'+x);
			document.querySelector('.sliceContent-'+x).style.display = 'none';
			document.querySelector('.fullContent-'+x).style.display = 'block';
		}
	</script>
{% endblock %}
