{% sw_extends '@Storefront/storefront/component/product/card/price-unit.html.twig' %}

{% block component_product_box_price_info %}
 <div>
        {% set min = product.deliveryTime.min %}
        {% set max = product.deliveryTime.max %}

        {% if (min === 0) and (max === 0)  %}
            <div>
                <div class="" style="color:#FF0000;" >
                    <p>{{ "zeobvSchouwWitgoed.delivery.deliveryMsg"|trans  }}</p>
                </div>
            </div>
        {% elseif (min === 1) and (min === 1) %}
            <div class='row'>
                <div class="col-1">
                    <svg width="28" height="19" viewBox="0 0 28 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7913 4.78926L27.2571 9.40352C27.3976 9.54873 27.4762 9.74283 27.4762 9.94492V15.3593C27.4762 15.7892 27.1277 16.1377 26.6977 16.1377H25.5351C25.3868 16.6268 25.1201 17.0873 24.7342 17.4732C24.1268 18.0806 23.3194 18.415 22.4605 18.415C21.6016 18.415 20.7942 18.0806 20.1868 17.4732C19.8009 17.0873 19.5343 16.6268 19.3859 16.1377H11.9517C11.8034 16.6268 11.5367 17.0873 11.1508 17.4732C10.5435 18.0806 9.73601 18.415 8.87714 18.415C8.01827 18.415 7.21078 18.0806 6.60347 17.4732C6.22211 17.0919 5.94845 16.6315 5.79753 16.1292H4.14046C3.71053 16.1292 3.36198 15.7806 3.36198 15.3507V8.20129H1.68259C1.25266 8.20129 0.904114 7.85274 0.904114 7.42281C0.904114 6.99288 1.25266 6.64433 1.68259 6.64433H3.36198V5.08664H2.77272C2.3428 5.08664 1.99424 4.73809 1.99424 4.30816C1.99424 3.87823 2.3428 3.52968 2.77272 3.52968H3.36198V1.19352C3.36198 0.76359 3.71053 0.415039 4.14046 0.415039H18.5997C19.0296 0.415039 19.3782 0.76359 19.3782 1.19352V4.55219H22.2319C22.4428 4.55219 22.6447 4.63772 22.7913 4.78926ZM19.3563 9.16644H24.8609L21.902 6.10915H19.3563V9.16644ZM4.91894 8.20123H8.97082C9.40075 8.20123 9.7493 7.85268 9.7493 7.42276C9.7493 6.99283 9.40075 6.64428 8.97082 6.64428H4.91894V5.08659H9.54186C9.97179 5.08659 10.3203 4.73804 10.3203 4.30811C10.3203 3.87818 9.97179 3.52963 9.54186 3.52963H4.91894V1.97195H9.54186H17.8211L17.7993 14.5807H12.0314C11.9133 13.9739 11.6198 13.3947 11.1508 12.9257C10.5435 12.3183 9.73601 11.9839 8.87714 11.9839C8.01827 11.9839 7.21083 12.3183 6.60347 12.9257C6.14676 13.3824 5.84445 13.9523 5.72254 14.5721H4.91894V8.20123ZM8.87714 16.8581C9.3201 16.8581 9.73664 16.6856 10.0499 16.3723C10.6966 15.7256 10.6966 14.6734 10.0499 14.0266C9.73664 13.7134 9.3201 13.5409 8.87714 13.5409C8.43419 13.5409 8.01765 13.7134 7.70439 14.0266C7.39113 14.3399 7.21862 14.7564 7.21862 15.1995C7.21862 15.6425 7.39113 16.059 7.70439 16.3723C8.01765 16.6856 8.43419 16.8581 8.87714 16.8581ZM23.6332 16.3723C23.3199 16.6856 22.9034 16.8581 22.4604 16.8581C22.0175 16.8581 21.6009 16.6856 21.2877 16.3723C20.641 15.7256 20.641 14.6734 21.2877 14.0267C21.6009 13.7134 22.0175 13.5409 22.4604 13.5409C22.9034 13.5409 23.3199 13.7134 23.6332 14.0267C23.9464 14.34 24.1189 14.7565 24.1189 15.1996C24.1189 15.6425 23.9464 16.0591 23.6332 16.3723ZM24.7341 12.9257C25.2032 13.3948 25.4966 13.9739 25.6147 14.5807H25.9193V10.7234H19.3563V14.3668C19.497 13.8386 19.7732 13.3393 20.1867 12.9257C20.7941 12.3184 21.6015 11.9839 22.4604 11.9839C23.3193 11.9839 24.1268 12.3184 24.7341 12.9257Z" fill="green"/>
                    </svg>
                </div>
                <div class="col-10">
                    <p style="color:green;">{{ "zeobvSchouwWitgoed.delivery.onedayMsg"|trans }}</p>
                </div>
            </div>
        {% else %}
            <div class="" style="color:#FFA500;" >
                {{ product.deliveryTime.name }}
            </div>
        {% endif %}
    </div>
    {{ parent() }}
{% endblock %}

{# remove emptey block #}
{% block component_product_box_price_unit %}{% endblock %}

{% block component_product_box_price %}
    {% if product.extensions.ZeobvSchouwWitgoed.showPrice %}
        <div class="product-price-wrapper">
            {% set price = real %}

            {% if displayFrom %}
                {{ "listing.listingTextFrom"|trans|sw_sanitize }}
            {% endif %}

            {% set isListPrice = price.listPrice.percentage > 0 %}
        <span class="fromLabel">{{ 'zeobv.cms-elements.banner.fromLabel'|trans }}</span>

            <span class="product-price{% if isListPrice and not displayFrom %} with-list-price{% endif %}">
                {{ price.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}

                {% if isListPrice and not displayFrom %}
                    {% set afterListPriceSnippetExists = "listing.afterListPrice"|trans|length > 0 %}
                    {% set beforeListPriceSnippetExists = "listing.beforeListPrice"|trans|length > 0 %}
                    {% set hideStrikeTrough = beforeListPriceSnippetExists or afterListPriceSnippetExists %}

                    <span class="list-price{% if hideStrikeTrough %} list-price-no-line-through{% endif %}">
                        {% if beforeListPriceSnippetExists %}{{ "listing.beforeListPrice"|trans|trim|sw_sanitize }}{% endif %}

                        <span class="list-price-price">{{ price.listPrice.price|currency }}{{ "general.star"|trans|sw_sanitize }}</span>

                        {% if afterListPriceSnippetExists %}{{ "listing.afterListPrice"|trans|trim|sw_sanitize }}{% endif %}

                        <span class="list-price-percentage">{{ "detail.listPricePercentage"|trans({'%price%': price.listPrice.percentage })|sw_sanitize }}</span>
                    </span>
                {% endif %}
            </span>
        </div>
    {% else %}
        <span class="fromLabel">{{ 'zeobv.cms-elements.banner.fromLabel'|trans }}</span>
        <div class="product-price-wrapper">
            <span class="product-price behind-request">{{ "detail.hidePrice.label"|trans }}</span>
        </div>
    {% endif %}
{% endblock %}
