{% set bijzonderheden = getMigrationAttribute(product, 'bijzonderheden_346') %}

{% if bijzonderheden|lower == 'option_4362' or bijzonderheden|lower == 'prijs op aanvraag' %}
    {# Prijs op aanvraag #}
    <h3>{{ "detail.hidePrice.request.title"|trans|sw_sanitize }}</h3>
    <p>{{ "detail.hidePrice.request.text"|trans({'%%product_name%': product.translated.name})|sw_sanitize }}</p>
{% else %}
    {# Mag alleen in winkel verkocht worden #}
    <h3>{{ "detail.hidePrice.store.title"|trans|sw_sanitize }}</h3>
    <p><strong>{{ "detail.hidePrice.store.text"|trans|sw_sanitize }}</strong></p>
{% endif %}
<p>{{ "detail.hidePrice.contact"|trans|sw_sanitize }}</p>