{% block component_category_box %}
	{% if category %}
		{% set id = category.id %}
		{% set cover = category.media %}

		<div class="card box-{{ layout }} bal-shadow" style="--border-hover-color: {{element.config.borderHoverColor.value}}">
			{% block component_product_box_content %}
				<div class="card-body">

					{% block component_category_box_image %}
						<div
							class="product-image-wrapper">
							{# fallback if display mode is not set #}
							{% set displayMode = displayMode ?: 'standard' %}

							{# set display mode 'cover' for box-image with standard display mode #}
							{% if layout == 'image' and displayMode == 'standard' %}
								{% set displayMode = 'cover' %}
							{% endif %}

							<a href="{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}" title="{{ category.translated.name }}" class="product-image-link is- {{ displayMode }} ">
								{% if cover.url %}
									{% set attributes = {
                                        'class': 'bal-category-img is-'~displayMode,
                                        'alt': (cover.translated.alt ?: name),
                                        'title': (cover.translated.title ?: name)
                                    } %}

									{% if displayMode == 'cover' or displayMode == 'contain' %}
										{% set attributes = attributes|merge({ 'data-object-fit': 'contain' }) %}
									{% endif %}

									{% sw_thumbnails 'product-image-thumbnails' with {
                                        media: cover,
                                        sizes: {
                                            'xs': '501px',
                                            'sm': '315px',
                                            'md': '427px',
                                            'lg': '333px',
                                            'xl': '284px'
                                        }
                                    } %}
								{% else %}
									<div class="product-image-placeholder">
										{% sw_icon 'placeholder' style {
                                            'size': 'fluid'
                                        } %}
									</div>
								{% endif %}
							</a>

						</div>
					{% endblock %}
					<a href="{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}" title="{{ category.translated.name }}">
						<div style="background-color: {{element.config.categoryBannerBackgroundColor.value}}; color: {{element.config.categoryBannerTextColor.value}}" class="bal-category-banner">
							{{category.name}}
							<svg style="fill: {{element.config.categoryBannerArrowColor.value }}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 48 48" width="15px" height="15px"><path d="M24 .1l-4.3 4.3 16.5 16.5H.2v6.2h36L19.7 43.6l4.3 4.3L47.9 24 24 .1z"/></svg>
						</div>
					</a>

				</div>
			{% endblock %}
		</div>
	{% endif %}
{% endblock %}
