{% sw_extends '@Storefront/storefront/page/product-detail/hbcom_product_faqs/product-faqs.html.twig' %}

{# add wrapper in collapse to allow styling without breaking js #}
{% block page_product_detail_hbcom_product_faq_item %}
	<div class="hbcom-product-faq-item">
		<div class="hbcom-product-faq-header" id="heading-{{ product_faq.id }}">
			<div class="hbcom-product-faq-header-trigger collapsed" data-toggle="collapse" data-target="#collapse-{{ product_faq.id }}" aria-expanded="true" aria-controls="collapse-{{ product_faq.id }}">
				<p class="hbcom-product-faq-metadata">
					<small>{{ "hbcom-product-faqs.faqs.asked_from"|trans|sw_sanitize }} {{ product_faq.author }} {{ "hbcom-product-faqs.faqs.at"|trans|sw_sanitize }} {{ product_faq.created_at|date("d.m.Y") }}</small>
				</p>
				<h5>{{ product_faq.faq_question }}</h5>
			</div>
		</div>
		<div id="collapse-{{ product_faq.id }}" class="hbcom-faq-answer collapse" aria-labelledby="headingOne" data-parent="#hbcom-product-faq-list">
			<div class="faq-answer-wrapper"> {{ product_faq.faq_answer|nl2br }}
			</div>
		</div>
	</div>
{% endblock %}
