{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{# Display empty cart message if it's empty #}
{% block page_checkout_container %}
    {% if page.zeobvQuotationCart.lineItems|length is same as(0) %}
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type: "info",
            content: "zeoQuotations.checkout.quotationCartEmpty"|trans
        } %}

        {% set messages = app.flashes %}

        {% if messages.danger|length > 0 %}
            <div class="flashbags">
                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with { type: 'danger', list: messages.danger } %}
            </div>
        {% endif %}
    {% else %}
        <div class="checkout-container">
            {% block page_checkout_main %}{{ parent() }}{% endblock %}
            {% block page_checkout_additional %}{{ parent() }}{% endblock %}
            {% block page_checkout_aside %}{{ parent() }}{% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block page_checkout_cart %}
    {% block page_checkout_cart_quotation %}
        {% block page_checkout_cart_quotation_header %}
            <h2 class="cart-main-header">
                {{ "zeoQuotations.checkout.cartHeader"|trans }}
            </h2>
        {% endblock %}

        {% block page_checkout_cart_quotation_table_header %}
            {% sw_include '@ZeobvQuotations/zeobvQuotations/page/checkout/quotation-cart/cart-product-header.html.twig' %}
        {% endblock %}

        {% block page_checkout_cart_quotation_table_items %}
            {% for lineItem in page.zeobvQuotationCart.lineItems %}
                {% block page_checkout_cart_table_item %}
                    {% block page_checkout_quotation_item %}
                        {% sw_include '@ZeobvQuotations/zeobvQuotations/page/checkout/quotation-item.html.twig' %}
                    {% endblock %}
                {% endblock %}
            {% endfor %}
        {% endblock %}
    {% endblock %}
{% endblock %}

{% block page_checkout_summary_list %}
    <div class="checkout-aside-summary-list-container">
        {% block page_checkout_summary_list_container %}
            <p>
                {{ "zeoQuotations.checkout.cart.summaryHighlight"|trans }}
            </p>
        {% endblock %}
    </div>
{% endblock %}

{% block page_checkout_summary_header %}{% endblock %}
{% block page_checkout_cart_add_promotion %}{% endblock %}

{% block page_checkout_aside_actions %}
    <form action="{{ path('frontend.zeobv.quotation.request') }}" method="post" data-form-csrf-handler="true">
        {{ sw_csrf('frontend.zeobv.quotation.request') }}
        <input type="hidden" name="redirectTo" value="frontend.zeobv.quotation.show">

        <button type="submit" title="{{ "zeoQuotations.checkout.cart.submitQuotation"|trans }}" class="btn btn-primary btn-block btn-lg begin-checkout-btn">
            {{ "zeoQuotations.checkout.cart.submitQuotation"|trans }}
        </button>
    </form>
{% endblock %}
