{% sw_extends '@Parent/storefront/element/cms-element-image-gallery.html.twig' %}

{% block element_image_gallery_inner %}
    {% set gallerySliderOptions = {
        slider: {
            navPosition: 'bottom',
            speed: 500,
            gutter: gutter ? gutter : 0,
            controls: navigationArrows ? true : false,
            autoHeight: false,
            startIndex: startIndexThumbnails ? startIndexThumbnails : null
        },
        thumbnailSlider: {
            items: (galleryPosition == "underneath") ? 6 : 5,
            slideBy: (galleryPosition == "underneath") ? 5 : 4,
            controls: true,
            gutter:10,
            startIndex: startIndexThumbnails ? startIndexThumbnails : null,
            responsive: {
                xs: {
                    enabled: true,
                    controls: true,
                    items:4,
                    slideBy: 1,
                    mode:'gallery',
                    nav: false,
                    autoplay: false,
                    prevButton: false,
                    nextButton: false,
                    loop:true
                },
                sm: {
                    enabled: true,
                    controls: true,
                    items:4,
                    slideBy: 1,
                    mode:'gallery',
                    nav: false,
                    autoplay: false,
                    prevButton: false,
                    nextButton: false,
                    loop:true
                }
            }
        }
    } %}

    {% if galleryPosition == "left" %}
        {% set gallerySliderOptions = gallerySliderOptions|replace_recursive({
            thumbnailSlider: {
                responsive: {
                    md: {
                        axis: 'vertical'
                    },
                    lg: {
                        axis: 'vertical'
                    },
                    xl: {
                        axis: 'vertical'
                    }
                }
            }
        }) %}

        {# @deprecated tag:v6.5.0 - Bootstrap v5 adds xxl breakpoint #}
        {% if feature('v6.5.0.0') %}
            {% set gallerySliderOptions = gallerySliderOptions|replace_recursive({
                thumbnailSlider: {
                    responsive: {
                        xxl: {
                            axis: 'vertical'
                        }
                    }
                }
            }) %}
        {% endif %}
    {% endif %}
    <div class="row gallery-slider-row{% if imageCount == 1 %} is-single-image{% else %} is-loading{% endif %} js-gallery-zoom-modal-container"
        {% if zoom %}
            data-magnifier="true"
        {% endif %}
        {% if magnifierOptions|length > 0 %}
            data-magnifier-options='{{ magnifierOptions|json_encode|raw }}'
        {% endif %}
        {% if imageCount > 1 %}
        data-gallery-slider="true"
        data-gallery-slider-options='{{ gallerySliderOptions|json_encode }}'
        {% endif %}>

        {% block element_image_gallery_inner_col %}
           {{ parent() }}
        {% endblock %}

        {% block element_image_gallery_inner_thumbnails_col %}
            {{ parent() }}
        {% endblock %}

        {% block element_image_gallery_inner_zoom_modal_wrapper %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
