{% sw_extends '@Storefront/storefront/layout/cookie/cookie-permission.html.twig' %}

{% block layout_cookie_permission_inner %}
    <div data-cookie-permission="true">
        <div class="cookie-permission-container-big">
            <div class="cookie-permission-inner">

                {% block layout_cookie_permission_inner_content %}
                    <div class="cookie-permission-inner-text-wrapper silka">
                        <h2 class="title">
                            <div class="title-italic">
                                {{ "cookie-popup.title1"|trans }}
                            </div>
                            <div>
                                {{ "cookie-popup.title2"|trans }}
                            </div>
                        </h2>
                        <span class="subtitle">{{ "cookie-popup.subtitle"|trans }}</span>
                        <p>
                            {{ "cookie.message"|trans({
                                '%url%': path('frontend.cms.page', { id: config('core.basicInformation.privacyPage') })
                            })|raw }}
                        </p>

                        <span class="js-cookie-accept-button">
                            <button
                                type="submit"
                                class="btn btn-secondary">
                                {{ "cookie.accept"|trans|sw_sanitize }}
                                <span class="js-cookie-accept-button-loading-indicator"></span>
                            </button>
                        </span>
                    </div>
                {% endblock %}

                {% block layout_cookie_permission_inner_image %}
                    <div class="cookie-permission-inner-image-wrapper">
                        <div class="cookie-permission-inner-image">
                            <img alt="Facebook" class="footer-logo-social" src="{{ asset('bundles/zeobvschouwwitgoed/assets/images/cookies.png', 'asset') }}">
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
