{% block cms_element_image_text %}

    <div class="sw-cms-el-text-image-block">
        {% set config = element.fieldConfig.elements %}
        {% set image = element.data[0] %}
        {% set text = element.data[1] %}

        {% block element_image %}

            <div class="cms-element-{{ element.type }}{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}">
                {% block element_product_slider_alignment %}
                    {% if config.verticalAlign.value %}
                        <div class="cms-element-alignment{% if config.verticalAlign.value == "center" %} align-self-center{% elseif config.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
                    {% endif %}
                        {% block element_image_inner %}
                            {% set imageElement %}
                                {% block element_image_container %}
                                    {% if image.media.url %}
                                        <div class="cms-image-container is-{{ element.translated.config.displayMode.value }}"
                                            {% if element.translated.config.minHeight.value and element.translated.config.displayMode.value == "cover" %} style="min-height: {{ element.translated.config.minHeight.value }};"{% endif %}>
                                            {% block element_image_media %}
                                                {% set attributes = {
                                                    'class': 'cms-image',
                                                    'alt': (image.media.translated.alt ?: 'img'),
                                                    'title': (image.media.translated.title ?: '')
                                                } %}

                                                {% if element.translated.config.displayMode.value == 'cover' or element.translated.config.displayMode.value == 'contain' %}
                                                    {% set attributes = attributes|merge({ 'data-object-fit': element.translated.config.displayMode.value }) %}
                                                {% endif %}

                                                {% sw_thumbnails 'cms-image-thumbnails' with {
                                                    media: image.media
                                                } %}
                                            {% endblock %}
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            {% endset %}

                            {% if element.translated.config.url.value %}
                                <a href="{{ element.translated.config.url.value }}"
                                class="cms-image-link"
                                {% if element.translated.config.newTab.value %}target="_blank" rel="noopener"{% endif %}>
                                    {{ imageElement }}
                                </a>
                            {% else %}
                                {{ imageElement }}
                            {% endif %}
                        {% endblock %}
                    {% if config.verticalAlign.value %}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block element_text %}

            <div class="cms-element-{{ element.type }}{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}">
                {% block element_text_alignment %}
                    {% if config.verticalAlign.value %}
                        <div class="cms-element-alignment{% if config.verticalAlign.value == "center" %} align-self-center{% elseif config.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
                    {% endif %}
                    {% block element_text_inner %}
                        {{ text.content|raw }}
                    {% endblock %}
                    {% if config.verticalAlign.value %}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}

    </div>
{% endblock %}
