{% block element_text_icon %}
    {% set config = element.fieldConfig.elements %}

    {% set iconSVG = config.svg.value %}
    {% set iconColor = config.iconColor.value %}
    {% set iconFamily = config.iconFamily.value %}
    {% set iconSize = config.iconSize ? config.iconSize.value : '80px' %}
    {% set textImageLayout = config.layout.value %}
    {% set textContent = config.content.value %}
    {% set tooltip = config.tooltip.value %}

    <div class="cms-element-{{ element.type }} cms-element-{{ element.type }}__layout cms-element-{{ element.type }}__layout-{{ textImageLayout }}">
        <div class="cms-element-{{ element.type }}__icon" style="color: {{ iconColor }}; width: {{ iconSize }};">
            {{ iconSVG | raw }}
        </div>

        <div class="cms-element-{{ element.type }}__content cms-element-text">
            {{ textContent | raw }}
        </div>

        {% if tooltip %}
        <div class="cms-element-{{ element.type }}__tooltip">
            {{ tooltip }}
        </div>
        {% endif %}
    </div>
{% endblock %}
