{% block element_vimeo_video %}
        {% set config = configVimeo %}
        {% set elementData = elementDataVimeo %}

        {% if videoBlock == 'one'  %}
            {% set videoNo = elementData.videoId.product_video_description_block_two_url %}
        {% endif %}
        {% if videoBlock == 'two'  %}
            {% set videoNo = elementData.videoId.product_video_description_block_three_url %}
        {% endif %}

        {% if videoBlock == 'one'  %}
            {% set videoHeader = elementData.videoHeader.product_video_description_block_two_title %}
        {% endif %}
        {% if videoBlock == 'two'  %}
            {% set videoHeader = elementData.videoHeader.product_video_description_block_three_title %}
        {% endif %}

        {% if videoBlock == 'one'  %}
            {% set videoDescription = elementData.content.product_video_description_block_two_desc %}
        {% endif %}
        {% if videoBlock == 'two'  %}
            {% set videoDescription = elementData.content.product_video_description_block_three_desc %}
        {% endif %}

        {% set videoUrl = 'https://player.vimeo.com/video/' %}
        {% if config.videoID.source === 'mapped' %}
            {% set videoUrl = videoUrl ~ videoNo ~ '?' %}
        {% else %}
            {% set videoUrl = videoUrl ~ config.videoID.value ~ '?' %}
        {% endif %}

        {% if config.autoplay.value == true %}
            {% set videoUrl = videoUrl ~ 'autoplay=true' ~ '&' %}
        {% endif %}

        {% set videoUrl = videoUrl ~ 'loop=' ~ config.loop.value ~ '&' %}


        {% if config.controls.value == false %}
            {% set videoUrl = videoUrl ~ 'controls=true' ~ '&' %}
        {% endif %}

        <div class="cms-element-vimeo-video">

            {% block element_vimeo_video_inner %}

                {% set iframeClass = 'cms-element-vimeo-video__video' %}

                {% if config.needsConfirmation.value == false %}
                    <iframe class="{{ iframeClass }}"
                            src="{{ videoUrl }}">
                    </iframe>
                {% else %}
                    {% set pluginConfiguration = {
                        videoUrl: videoUrl,
                        iframeClasses: [ iframeClass ],
                        btnClasses: [ 'btn', 'btn-outline-secondary' ],
                        backdropClasses: [ 'cms-element-vimeo-video__backdrop' ],
                        confirmButtonText: 'component.cms.vimeo.acceptButtonLabel'|trans,
                        overlayText: 'component.cms.vimeo.privacyNotice'|trans({
                            '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.privacyPage') }),
                            '%platform%': 'Vimeo'
                        })|raw
                    } %}

                    {% block element_vimeo_video_placeholder %}
                        <div class="cms-element-vimeo-video__placeholder"
                            data-cms-gdpr-video-element="true"
                            data-cms-gdpr-video-element-options="{{ pluginConfiguration|json_encode }}">

                            {% if elementData.media %}
                                {% sw_thumbnails 'cms-element-vimeo-video__placeholder' with {
                                    media: elementData.media
                                } %}
                            {% endif %}
                        </div>
                    {% endblock %}
                {% endif %}


            {% endblock %}

        </div>

    <div>
        <h5>
            {% if config.videoHeader.source === 'mapped' %}
                {{ videoHeader }}
            {% else %}
                {{ config.videoHeader.value }}
            {% endif %}
        </h5>
        <div
            class="cms-element-{{ elementData.type }}{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}">
            {% block element_text_alignment %}
                {% if config.verticalAlign.value %}
                    <div class="cms-element-alignment{% if config.verticalAlign.value == "center" %} align-self-center{% elseif config.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
                {% endif %}
                {% block element_text_inner %}
                    {% if config.content.source === 'mapped' %}
                        {{ videoDescription |raw }}
                    {% else %}
                        {{ config.content.value |raw }}
                    {% endif %}
                {% endblock %}
                {% if config.verticalAlign.value %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>

    {% endblock %}
