{% block layout_footer_store_info_inner %}
    <div class="cms-block cms-block-store-info">
        <ul class="list-unstyled">
            <li class="footer-link-item phone">
                <a class="footer-link" href="{{ "footer.store-info.link-1"|trans|sw_sanitize }}">
                    {{ "footer.store-info.text-1"|trans|sw_sanitize }}
                </a>
            </li>
            <li class="footer-link-item mail">
                <a class="footer-link" href="{{ "footer.store-info.link-2"|trans|sw_sanitize }}">
                    {{ "footer.store-info.text-2"|trans|sw_sanitize }}
                </a>
            </li>
            <li class="footer-link-item mail">
                <a class="footer-link" href="{{ "footer.store-info.link-3"|trans|sw_sanitize }}">
                    {{ "footer.store-info.text-3"|trans|sw_sanitize }}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
