{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions_cart %}
    {{ parent() }}

    {% if page.zeobvQuotationCart %}

        <hr />

        {% block component_offcanvas_quotation %}
            <div class="zeobv-quotation">
                {% block component_offcanvas_quotation_title %}
                    <div class="row align-items-center h4 offcanvas-cart-header zeobv-quotation__header">
                        <div class="col">
                            {{ "zeoQuotations.checkout.cartHeader"|trans }}
                        </div>
                    </div>
                {% endblock %}

                {% block component_offcanvas_quotation_items %}
                    <div class="offcanvas-cart-items zeobv-quotation__items">
                        {% for lineItem in page.zeobvQuotationCart.lineItems %}
                            {% block component_offcanvas_quotation_item %}
                                {% sw_include '@ZeobvQuotations/storefront/component/checkout/quotation-item.html.twig' %}
                            {% endblock %}
                        {% endfor %}
                    </div>
                {% endblock %}

                {% block component_offcanvas_quotation_link %}
                    <a href="{{ path('frontend.zeobv.quotation.show') }}" class="btn btn-block btn-secondary" title="{{ "zeoQuotations.checkout.cart.quotationLink"|trans }}">
                        {{ "zeoQuotations.checkout.cart.quotationLink"|trans }}
                    </a>
                {% endblock %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
