{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_name %}
    {% if element.config.navigation.value == true %}
        <div class="product-title">{{ product.translated.name }}</div>
    {% else %}
        <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}" class="product-name" title="{{ product.manufacturer.name }}"> {{ product.manufacturer.name }}
            <span class="sku">{{  product.productNumber }}</span>
        </a>
    {% endif %}
{% endblock %}

{% block component_product_box_image %}
    <div classs="product-relative">
        {{ parent() }}

        {% if config('FlinkQuickView.config.buttonPosition') == 'below_thumb' %}
            {% sw_include '@Storefront/storefront/component/flink-quick-view-button.html.twig' %}
        {% endif %}
    </div>
{% endblock %}

{% block component_product_box_action %}
    {{ parent() }}
    <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}" class="add-to-cart">Bekjik Product</a>
{% endblock %}
