{% block element_banner %}
	{% set config = element.fieldConfig.elements %}
	{% if element.data.products %}
		{% set products = element.data.products.elements %}
	{% endif %}

	<div class="cms-element-{{ element.type }}">
		{% block element_banner_element %}
			<div>
				{% block element_banner_inner %}
					{% set mappingElement %}
					{% set media = element.data.media %}
					{% block element_banner_mapping %}
						<div class="mapping-container">

							{% for mapping in element.translated.config.mapping.value %}

								<a href="" class="mapping-link" aria-label="Icon" style="width: {{mapping.width/(media.metaData.width/100)}}%;
									                                                  height: {{mapping.height/(media.metaData.height/100)}}%;
									                                                  left: {{mapping.x/(media.metaData.width/100)}}%;
									                                                  top: {{mapping.y/(media.metaData.height/100)}}%;
									                                                  {# font-size: {{min(mapping.x, mapping.y)}}px; #}
									                                                  {% if mapping.iconColor %}color: {{mapping.iconColor}};{% endif %}
									                                    {% if mapping.iconOpacity %}opacity: {{mapping.iconOpacity}};{% endif %}" data-article-id="{{products[mapping.productId].id}}_{{element.id}}">

									{% set iconName = mapping.iconType|split('-') %}
									{% set iconName = iconName|last %}
									<span class="btn btn-success">
										<span class="icon icon-plus icon-reset"></span>
										<span class="productName">{{ products[mapping.productId] }}</span>
									</span>
								</a>

							{% endfor %}
						</div>
					{% endblock %}
					{% endset %}

					{% set imageElement %}
					{% if element.translated.config.url.value %}
						<a href="{{ element.translated.config.url.value }}" class="cms-image-link" aria-label="Image link" rel="noopener" {% if element.translated.config.newTab.value %} target="_blank" {% endif %}>
						{% endif %}
						{% block element_banner_container %}
							{% if element.data.media.url %}
								<div class="cms-banner-container">
									{% block element_banner_media %}
										{% set attributes = {
                                            'class': 'cms-image',
                                            'alt': (element.data.media.translated.alt ?: ''),
                                            'title': (element.data.media.translated.title ?: '')
                                        } %}

										{% sw_thumbnails 'cms-image-thumbnails' with {
                                            media: element.data.media
                                        } %}
									{% endblock %}

									{% if not element.translated.config.mapping.value is empty %} {{ mappingElement }}
									{% endif %}
								</div>
							{% endif %}
						{% endblock %}
						{% if element.translated.config.url.value %}
						</a>
					{% endif %}
					{% endset %} {{ imageElement }}
				{% endblock %}
			</div>
		{% endblock %}
	</div>

	{% block element_banner_highlight %}
		{% if products %}
			{% sw_include '@Storefront/storefront/component/highlight_product.html.twig' with { 'products': products, 'element': element } %}
		{% endif %}
	{% endblock %}
{% endblock %}
