{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_form_options %}{% endblock %}

{% block page_product_detail_buy_container %}
    {% if buyable %}
        <div class="{{ formRowClass }} buy-widget-container">
            {% block page_product_detail_buy_quantity_container %}{% endblock %}

            {% block page_product_detail_buy_redirect_input %}{{ parent() }}{% endblock %}

            {% block page_product_detail_buy_product_buy_info %}{{ parent() }}{% endblock %}

            {% block page_product_detail_product_buy_meta %}{{ parent() }}{% endblock %}

            {% block page_product_detail_buy_button_container %}
                <div class="col-12 col-md-8">
                    {% block buy_widget_buy_button %}
                        {% if product.extensions.ZeobvSchouwWitgoed.showPrice %}
                            <button class="btn btn-secondary btn-block btn-buy"
                                    title="{{ "detail.addProduct"|trans|striptags }}"
                                    aria-label="{{ "detail.addProduct"|trans|striptags }}">
                                {{ "detail.addProduct"|trans|sw_sanitize }}
                            </button>
                        {% else %}
                            {% sw_include "@ZeobvSchouwWitgoed/storefront/component/buy-widget/buy-widget-hide-price-button.html.twig" with {
                                product: product
                            } %}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}

            {# Add Compare button. #}
            {% block page_product_detail_buy_button_add_to_compare_button %}
                <div class="col-12 col-md-4">
                    {% if app.request.attributes.get('_route') != 'frontend.compare.content' %}
                        {% sw_include '@Storefront/storefront/component/product/card/compare-button.html.twig' %}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    {% endif %}

    {# Add all blocks showing after buy_widget_buy_container in a include. #}
    {% sw_include '@Storefront/storefront/component/buy-widget/buy-widget-form/after-buy-container.html.twig' %}
{% endblock %}
